# CMPINF0010 Lab Final Project

Your final project is, at least ideally, the conjoining of everything you've learned in the course so far. You'll be using many of the big ideas you've learned, your Python skills, command-line and `git`, and plenty of pandas and data viz. 

You will be working in teams (assigned below) to make a data driven argument that answers the following question:

## What is the best neighborhood in Pittsburgh?

Using data from the WPRDC, you will create a data driven argument to support your claim about the “best” neighborhood in Pittsburgh.

With your group members, you will be creating a Jupyter notebook to demonstrate your argument and the data analysis you did to support it. You will present your arguments to the class in the last few weeks of lab.

To answer this question you need to do the following:

* Come up with a team name!
* As a group, come up with some ways of defining and measuring "bestness". Each group member will be responsible for **one metric each.**
* Use at least 3 datasets in your argument. The easiest way to meet this requirement is for each member to choose their own _unique_ dataset to analyze their metric.
* Combine your metrics into a single metric as you see fit.
* Create a git repository to store your data and notebooks and code.


**Note**: There is a lot of subjectivity here, to wit, *what does "best" mean?*. One of your tasks in this project is to come up with your own metric for “best” and then use it to analyze data to determine the best neighborhood. The goal of this final project is to work as a team to develop a metric, apply it, and write up the results.

You could define "best" as the smartest and then define smartness as "number of advanced degree holders living in the neighborhood". Or you might also define best as the ratio of the ”number of potholes" and the “number of trees” in the neighborhood (lower or higher, the decision is up to you). How you want to measure bestness is up to you.

----

You'll be dealing with WPRDC data to talk about Pittsburgh, so here's a guide to working with the WPRDC.

## Adam Karl, Bailey Mathien

In [160]:
import pandas as pd
import numpy as np

## POPULATION

In [161]:
all_pop = pd.read_excel("https://data.wprdc.org/dataset/40188e1c-6d2e-4f20-9391-607bd3054949/resource/b7156251-6036-4b68-ad2a-95566c84343e/download/opendata-pghsnap-neighborhood-census-data.xlsx")
all_pop.head()

,Neighborhood,Sector #,Pop. 1940,Pop. 1950,Pop. 1960,Pop. 1970,Pop. 1980,Pop. 1990,Pop. 2000,Pop. 2010,...,% Other (2010),% White (2010),% 2+ Races (2010),% Hispanic (of any race) (2010),% Pop. Age < 5 (2010),% Pop. Age 5-19 (2010),% Pop. Age 20-34 (2010),% Pop. Age 35-59 (2010),% Pop. Age 60-74 (2010),% Pop. Age > 75 (2010)
0,Allegheny Center,3,4521,3862,2512,632,1586,1262,886,933,...,0.006431,0.408360,0.0397,0.029,0.0419,0.2170,0.2757,0.2243,0.1761,0.0650
1,Allegheny West,3,3210,3313,2170,1124,820,654,508,462,...,0.006494,0.766234,0.0303,0.028,0.0000,0.0000,0.0837,0.6820,0.1255,0.1088
2,Allentown,6,8227,7487,6416,5361,4292,3600,3220,2500,...,0.008000,0.594000,0.0464,0.023,0.0366,0.1485,0.2411,0.3530,0.1440,0.0767
3,Arlington,7,2702,3203,4430,3949,2294,2210,1999,1869,...,0.003745,0.764580,0.0316,0.014,0.0691,0.1889,0.1945,0.3153,0.0888,0.1433
4,Arlington Heights,7,2413,2860,2272,2037,1466,1497,238,244,...,0.016393,0.094262,0.0492,0.008,0.0410,0.3925,0.1638,0.3072,0.0341,0.0614

In [162]:
pop = all_pop.filter(["Neighborhood","Pop. 2010"])
pop = pop.rename(columns={pop.columns[1]:"population"})
pop.sort_values(by=["population"], ascending=False)

           Neighborhood  population
76  Squirrel Hill South       15110
67            Shadyside       13915
13            Brookline       13214
75  Squirrel Hill North       11363
55        North Oakland       10551
..                  ...         ...
86             West End         254
4     Arlington Heights         244
77            St. Clair         209
70          South Shore          19
21              Chateau          11

[90 rows x 2 columns]

# Playgrounds

In [163]:
all_playgrounds = pd.read_csv("https://data.wprdc.org/datastore/dump/47350364-44a8-4d15-b6e0-5f79ddff9367")  
all_playgrounds.head()

,id,name,type,maintenance_responsibility,park,street,image,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,731501774,Able Long Playground,NaN,Parks - Western,Able Long Park,COAST AVE,https://tools.wprdc.org/images/pittsburgh/play...,Beechview,4,19,42003192000,5,19,6,4-28,40.408365,-80.028445
1,1461276747,Albert Graham Playground,NaN,Parks - Schenley,Albert Turk Graham Park,FORESIDE PL,https://tools.wprdc.org/images/pittsburgh/play...,Crawford-Roberts,6,3,42003030500,3,3,2,2-1,40.440519,-79.984137
2,1860709784,Alpine Playground,NaN,Parks - Northern,Alpine Gardens Park,ALPINE AVE,https://tools.wprdc.org/images/pittsburgh/play...,Central Northside,6,25,42003250300,1,25,1,1-21,40.457707,-80.012952
3,1770671485,Alton Playground,NaN,Parks - Western,Alton Park,ANDICK WAY,https://tools.wprdc.org/images/pittsburgh/play...,Beechview,4,19,42003191600,5,19,6,4-28,40.414137,-80.021831
4,18942817,Ammon Playground,NaN,Parks - Schenley,Ammon Park,MEMORY LN,https://tools.wprdc.org/images/pittsburgh/play...,Bedford Dwellings,6,5,42003050900,3,5,2,2-5,40.449037,-79.978064

**Combine with population data**

In [164]:
total = pop
total["num_playgrounds"] = 0
for index, row in all_playgrounds.iterrows():
    name = row.iloc[7]
    total.loc[total["Neighborhood"] == name, "num_playgrounds"] += 5
total.sort_values(by=["num_playgrounds"], ascending=False)


#TODO: figure out playgrounds per 1000 residents

            Neighborhood  population  num_playgrounds
76   Squirrel Hill South       15110               40
72     South Side Slopes        4423               25
7              Beechview        7974               25
0       Allegheny Center         933               20
68              Sheraden        5299               20
..                   ...         ...              ...
14  California-Kirkbride         761                0
59             Overbrook        3644                0
25        East Allegheny        2136                0
56           North Shore         303                0
57     Northview Heights        1214                0

[90 rows x 3 columns]

**Calculate Playgrounds/population**

In [165]:
total.loc[0, "playgrounds per 1000 people"] = 0
total["playgrounds per 1000 people"] = total["num_playgrounds"].divide(total["population"], fill_value=0)
total["playgrounds per 1000 people"] *= 1000
total.sort_values(by=["playgrounds per 1000 people"], ascending=False)

,Neighborhood,population,num_playgrounds,playgrounds per 1000 people
0,Allegheny Center,933,20,21.436227
86,West End,254,5,19.685039
30,Esplen,301,5,16.611296
37,Hays,362,5,13.812155
26,East Carnegie,570,5,8.771930
...,...,...,...,...
57,Northview Heights,1214,0,0.000000
59,Overbrook,3644,0,0.000000
62,Point Breeze,5315,0,0.000000
14,California-Kirkbride,761,0,0.000000
16,Central Business District,3629,0,0.000000

## Income

In [166]:
income = pd.read_csv("https://data.wprdc.org/dataset/5b18c198-474c-4723-b735-cc5220ad43cc/resource/34842307-0da6-458a-9df3-a09ab3e3a489/download/aggregate-household-income-in-the-past-12-months-in-2015-inflation-adjusted-dollars.csv")
income.head()

,Neighborhood,Id,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars),Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
0,Allegheny Center,1,39947000,6437773
1,Allegheny West,2,23793300,22025939
2,Allentown,3,38303700,7490207.043
3,Arlington,4,35349900,6140662.723
4,Arlington Heights,5,2389600,1162393

In [167]:
income = income.filter(["Neighborhood","Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)"])
income = income.rename(columns={"Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)":"aggregate household income"})
income.sort_values(by=["aggregate household income"], ascending=True)

#TODO: income / population

                Neighborhood aggregate household income
71               South Shore                          -
21                   Chateau                          -
69                  Sheraden                  101081700
61               Perry North                  104107900
6          Bedford Dwellings                   10529100
..                       ...                        ...
46  Lincoln-Lemington-Belmar                   91032900
24          Duquesne Heights                   91613300
80            Strip District                   91738300
89                  Westwood                   91857100
18         Central Northside                   96353500

[91 rows x 2 columns]

## Environmental Factors

In [168]:
environment = pd.read_excel("https://data.wprdc.org/dataset/40188e1c-6d2e-4f20-9391-607bd3054949/resource/9c46a88c-8fca-4839-9848-c2b819ecbf0f/download/natural-environment-conditions.xls")
environment.head()

,Neighborhood,Sector #,Population (2010),Land Area (acres),Landslide Prone (% land area),Undermined (% land area),Flood Plain (% land area),# Street Trees,Park Space (acres),Park Space (% of land area),Park Space (acres/1000 pers.),Greenway (% of land area),Woodland (% of land area),Cemetery (% of land area)
0,Allegheny Center,3,933,134.40,0.000000,0.000000,0.001637,22,55.264,0.411190,59.232583,0.0,0.000000,0.000000
1,Allegheny West,3,462,90.24,0.093273,0.000000,0.023105,229,7.182,0.079588,15.545455,0.0,0.042354,0.000000
2,Allentown,6,2500,188.80,0.270911,0.903528,0.000000,87,39.385,0.208607,15.754000,0.0,0.123093,0.000000
3,Arlington,7,1869,300.80,0.414182,0.572543,0.015170,79,6.747,0.022430,3.609952,0.0,0.294289,0.073075
4,Arlington Heights,7,244,84.48,0.398935,0.611955,0.000000,3,0.000,0.000000,0.000000,0.0,0.417969,0.000000

In [169]:
environment = environment.filter(["Neighborhood","Landslide Prone (% land area)", "Flood Plain (% land area)"])
environment["risk area"] = environment.loc[:,["Landslide Prone (% land area)", "Flood Plain (% land area)"]].sum(axis=1)
environment.sort_values(by=["risk area"], ascending=True)

,Neighborhood,Landslide Prone (% land area),Flood Plain (% land area),risk area
33,Friendship,0.000000,0.000000,0.000000
40,Homewood North,0.000000,0.000000,0.000000
63,Point Breeze North,0.000000,0.000000,0.000000
41,Homewood South,0.000000,0.000000,0.000000
27,East Hills,0.000000,0.000000,0.000000
...,...,...,...,...
79,Strip District,0.109380,0.542211,0.651591
72,South Side Slopes,0.663595,0.000000,0.663595
64,Polish Hill,0.750000,0.003799,0.753799
56,North Shore,0.000000,0.819585,0.819585
32,Fineview,0.919600,0.000000,0.919600