# CMPINF0010 Lab Final Project

Your final project is, at least ideally, the conjoining of everything you've learned in the course so far. You'll be using many of the big ideas you've learned, your Python skills, command-line and `git`, and plenty of pandas and data viz. 

You will be working in teams (assigned below) to make a data driven argument that answers the following question:

## What is the best neighborhood in Pittsburgh?

Using data from the WPRDC, you will create a data driven argument to support your claim about the “best” neighborhood in Pittsburgh.

With your group members, you will be creating a Jupyter notebook to demonstrate your argument and the data analysis you did to support it. You will present your arguments to the class in the last few weeks of lab.

To answer this question you need to do the following:

* Come up with a team name!
* As a group, come up with some ways of defining and measuring "bestness". Each group member will be responsible for **one metric each.**
* Use at least 3 datasets in your argument. The easiest way to meet this requirement is for each member to choose their own _unique_ dataset to analyze their metric.
* Combine your metrics into a single metric as you see fit.
* Create a git repository to store your data and notebooks and code.


**Note**: There is a lot of subjectivity here, to wit, *what does "best" mean?*. One of your tasks in this project is to come up with your own metric for “best” and then use it to analyze data to determine the best neighborhood. The goal of this final project is to work as a team to develop a metric, apply it, and write up the results.

You could define "best" as the smartest and then define smartness as "number of advanced degree holders living in the neighborhood". Or you might also define best as the ratio of the ”number of potholes" and the “number of trees” in the neighborhood (lower or higher, the decision is up to you). How you want to measure bestness is up to you.

----

You'll be dealing with WPRDC data to talk about Pittsburgh, so here's a guide to working with the WPRDC.

## Adam Karl, Bailey Mathien, Ashley Wang

In [1]:
import pandas as pd
import numpy as np

In [51]:
pop = pd.read_excel("https://data.wprdc.org/dataset/40188e1c-6d2e-4f20-9391-607bd3054949/resource/b7156251-6036-4b68-ad2a-95566c84343e/download/opendata-pghsnap-neighborhood-census-data.xlsx")
pop = pop.filter(["Neighborhood","Pop. 2010"])
pop = pop.rename(columns={"Pop. 2010":"population"})
pop.sort_values(by=["population"], ascending=False)

           Neighborhood  population
76  Squirrel Hill South       15110
67            Shadyside       13915
13            Brookline       13214
75  Squirrel Hill North       11363
55        North Oakland       10551
..                  ...         ...
86             West End         254
4     Arlington Heights         244
77            St. Clair         209
70          South Shore          19
21              Chateau          11

[90 rows x 2 columns]

In [60]:
playgrounds = pd.read_csv("https://data.wprdc.org/datastore/dump/47350364-44a8-4d15-b6e0-5f79ddff9367")  
playgrounds = playgrounds.groupby("neighborhood").count().filter(["id"])
playgrounds = playgrounds.rename(columns={"id":"num_playgrounds"})
playgrounds.sort_values(by=["num_playgrounds"], ascending=False)

#TODO: figure out playgrounds per 1000 residents

                     num_playgrounds
neighborhood
Squirrel Hill South                8
Beechview                          5
South Side Slopes                  5
Allegheny Center                   4
Sheraden                           4
...                              ...
Oakwood                            1
Perry North                        1
Perry South                        1
Point Breeze North                 1
Windgap                            1

[67 rows x 1 columns]

In [65]:
income = pd.read_csv("https://data.wprdc.org/dataset/5b18c198-474c-4723-b735-cc5220ad43cc/resource/34842307-0da6-458a-9df3-a09ab3e3a489/download/aggregate-household-income-in-the-past-12-months-in-2015-inflation-adjusted-dollars.csv")
income = income.filter(["Neighborhood","Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)"])
income = income.rename(columns={"Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)":"aggregate household income"})
income.sort_values(by=["aggregate household income"], ascending=True)

#TODO: income / population

                Neighborhood aggregate household income
71               South Shore                          -
21                   Chateau                          -
69                  Sheraden                  101081700
61               Perry North                  104107900
6          Bedford Dwellings                   10529100
..                       ...                        ...
46  Lincoln-Lemington-Belmar                   91032900
24          Duquesne Heights                   91613300
80            Strip District                   91738300
89                  Westwood                   91857100
18         Central Northside                   96353500

[91 rows x 2 columns]

In [54]:
environment = pd.read_excel("https://data.wprdc.org/dataset/40188e1c-6d2e-4f20-9391-607bd3054949/resource/9c46a88c-8fca-4839-9848-c2b819ecbf0f/download/natural-environment-conditions.xls")
environment = environment.filter(["Neighborhood","Landslide Prone (% land area)", "Flood Plain (% land area)"])
environment["risk area"] = environment.loc[:,["Landslide Prone (% land area)", "Flood Plain (% land area)"]].sum(axis=1)
environment.sort_values(by=["risk area"], ascending=True)

,Neighborhood,Landslide Prone (% land area),Flood Plain (% land area),risk area
33,Friendship,0.000000,0.000000,0.000000
40,Homewood North,0.000000,0.000000,0.000000
63,Point Breeze North,0.000000,0.000000,0.000000
41,Homewood South,0.000000,0.000000,0.000000
27,East Hills,0.000000,0.000000,0.000000
...,...,...,...,...
79,Strip District,0.109380,0.542211,0.651591
72,South Side Slopes,0.663595,0.000000,0.663595
64,Polish Hill,0.750000,0.003799,0.753799
56,North Shore,0.000000,0.819585,0.819585
32,Fineview,0.919600,0.000000,0.919600